<!-- sidebar.component.html -->

<div class="h-screen w-30 bg-gray-800 text-white p-2">
  <!-- Logo o título del sidebar -->
  <div class="text-2xl font-semibold mb-4"> <a routerLink="/dashbor">HOME</a></div>
  <!-- Enlaces de navegación -->
  <ul>
    <li class="mb-2 w-full">
      <a routerLink="/add-patient" routerLinkActive="text-indigo-500" class="text-white hover:text-indigo-500 block">
        Registrar Paciente
      </a>
    </li>
    <li class="mb-2">
      <a routerLink="/mi-profile" routerLinkActive="text-indigo-500" class="text-white hover:text-indigo-500 block">
        Mi Perfil
      </a>
    </li>
    <li class="mb-2">
      <a (click)="deleteToken()" style="cursor: pointer;" routerLinkActive="text-indigo-500" class="text-white hover:text-indigo-500 block">
        Salir
      </a>
    </li>
  </ul>
</div>
